@if(!loggedIn()){
  @if(!registered){
    <div class="login-page">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>User name</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">User name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Pass word is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"> Log in </button>
        <a class = "register" (click)="navigateRegister()">Create account</a>
      </form>
    </div>
  }
  @if(registered){
    <div class="register-page">
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>User name</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">User name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Pass word is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid"> Register </button>
        <a class = "register" (click)="navigateLogIn()"> <- Back to log in</a>
      </form>
    </div>
  }
}


@if(loggedIn()){
  <div class = "layout">
    <mat-nav-list class = "sidebar">
      <a mat-list-item (click)="navigateTodo()">Todo app</a>
      <a mat-list-item (click)="navigateShop()">Product</a>
      <span class="spacer"></span>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
}

