.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  border-right: 1px solid #e0e0e0;
  overflow: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.register {
  display: block;
  margin-top: 12px;
  text-align: center;

  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;

  color: #1976d2;
}

.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spacer {
  flex: 1;
}
