<div class="todos">
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
        <input 
			type="text"
			placeholder="Enter todo..."
			class="todo-input"
			formControlName="task"
		/>
        <div *ngIf="todoForm.get('task')?.hasError('required')"> Task is required </div>
        <input type="submit" value="Add todo" class="todo-submit" [disabled]="todoForm.invalid">
    </form>
    <div>Active todo : {{activeTodo()}}</div>
    <div>Remain todo : {{doneTodo()}}</div>
    <table class = "table table-bordered align-middle">
        <thead>
            <tr>
            <th>ID</th>
            <th>Task name</th>
            <th>Remove button</th>
            </tr>
        </thead>

        <tbody>
            <tr class="todo {{ (todo.completed ? 'done' : '') }}" *ngFor="let todo of todoList; let i = index">
            <td>{{ i + 1 }}</td>
            <td><div class="content" (click)="toggleDone(i)">{{ todo.content }}</div></td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteTodo(i)"> Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>