.product {
  padding: 10px 15px;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
}

.product:nth-child(even) {
  background-color: #EEE;
}

.product:last-of-type {
  border-bottom: 0;
}

.product.id {
  flex: 1 1 50px;
}

.product.content {
  display: block;
  width: 100%;
}

.product-submit {
  position: absolute;
  bottom: 30px;
  right: 45px;
}
