<div class = "orders">
  <table class = "table table-bordered align-middle">
    <thead>
    <tr>
      <th>ID</th>
      <th>Total Price</th>
      <th>Create at</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      @for (order of orders(); track order.id; let i = $index){
        <tr class = "order">
          <td> {{i+1}} </td>
          <td> {{ order.totalAmount | currency:'VND':'symbol':'1.0-0' }} </td>
          <td> {{ order.createdAt | date:'dd/MM/yyyy HH:mm:ss' }} </td>
          <td> {{order.status}} </td>
          @if (auth.isAdmin()){
            <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(order.id!)"> <mat-icon>delete</mat-icon></button></td>
          }
          <button mat-button color="primary" (click)="openDetail(order.id!)"> View </button>
        </tr>
      }
    </tbody>
  </table>
</div>
