<div class = "orders">
  <table class = "table table-bordered align-middle">
    <thead>
    <tr>
      <th>ID</th>
      <th>Total Price</th>
      <th>Create at</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      @for (order of orderList(); track order.id; let i = $index){
        <tr class = "order">
          <td> {{order.id}} </td>
          <td> {{ order.price | currency:'VND':'symbol':'1.0-0' }} </td>
          <td> {{order.createdAt}} </td>
          <td> {{order.status}} </td>
          @if (auth.isAdmin()){
            <td><button class="btn btn-danger btn-light" > <mat-icon>edit</mat-icon></button></td>
            <td><button class="btn btn-danger btn-sm" > <mat-icon>delete</mat-icon></button></td>
          }
        </tr>
      }
    </tbody>
  </table>
  @if(auth.isAdmin()){
    <button mat-fab type="button" class="order-submit" (click) = openSheet()><mat-icon>add</mat-icon></button>
  }
</div>
