<mat-dialog-content class="dialog-content">
    <form class = "todo-form" [formGroup]="todoForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="full-width field">
            <mat-label>Task</mat-label>
            <input matInput formControlName="title" />

            <mat-error *ngIf="todoForm.get('title')?.hasError('required')">Task is required</mat-error>
            <mat-hint>Type the todo task</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width field">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
            <mat-option value="">-- Select priority --</mat-option>
            <mat-option value="LOW">Low</mat-option>
            <mat-option value="MEDIUM">Medium</mat-option>
            <mat-option value="HIGH">High</mat-option>
            </mat-select>
            <mat-hint>Select priority</mat-hint>
            <mat-error *ngIf="todoForm.get('priority')?.hasError('required')">Priority is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width field">
            <mat-label>Due date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="dp" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            <mat-hint>Select due date</mat-hint>
            <mat-error *ngIf="todoForm.get('dueDate')?.hasError('matDatepickerParse')">Invalid date format</mat-error>
            <mat-error *ngIf="todoForm.get('dueDate')?.hasError('required')">Due date is required</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align ="end">
    <button mat-raised-button type="button" (click)="submit()"> Save </button>
    <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
