<mat-dialog-content class="dialog-content">
  <form class = "product-form" [formGroup]="productList" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width field">
      <mat-label>Product name</mat-label>
      <input matInput formControlName="productName" />
      <mat-error *ngIf="productList.get('productName')?.hasError('required')">Name is required</mat-error>
      <mat-hint>Type the product name</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width field">
      <mat-label>Price</mat-label>
      <input matInput type = "number" formControlName="price" />

      <mat-error *ngIf="productList.get('price')?.hasError('required')">Price is required</mat-error>
      <mat-error *ngIf="productList.get('price')?.hasError('min')">Price should be higher than 0</mat-error>
      <mat-hint *ngIf="productList.get('price')?.value">
        {{ productList.get('price')?.value | currency:'VND':'symbol':'1.0-0' }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width field">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-hint>Type the description</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width field">
      <mat-label>Quantity</mat-label>
      <input matInput type = "number" formControlName="quantity" />

      <mat-error *ngIf="productList.get('quantity')?.hasError('required')">Quantity is required</mat-error>
      <mat-error *ngIf="productList.get('quantity')?.hasError('min')">Quantity should be higher than 0</mat-error>
      <mat-hint>Type the quantity</mat-hint>
    </mat-form-field>

    <div class="image-upload">
      <img
        *ngIf="previewImage()"
        [src]="previewImage()"
        class="preview-image"
      />

      <button
        mat-stroked-button
        type="button"
        (click)="fileInput.click()"
      >
        Choose Image
      </button>

      <input
        type="file"
        accept="image/*"
        hidden
        #fileInput
        (change)="onFileSelected($event)"
      />

      <mat-error *ngIf="productList.get('image')?.hasError('required')">
        Image is required
      </mat-error>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align ="end">
  <button mat-raised-button type="button" (click)="submit()"> Save </button>
  <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
